*{
    font-family: 'Montserrat', sans-serif;
}
html, body{
    height: 100%;
    color: lightblue;
    background: linear-gradient(90deg, #E0E4E5 0%, #FFFFFF 37.5%, #FFFFFF 68.23%, #D6DADB 100%);
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#particles-js{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 90%;
}
.swiper-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* Points */
.language_two{
    display: none;
}
.language{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 10;
}
.language__link{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;
    width: 100%;
}
.language__link img{
    width: 50px;
    height: 30px;
}
.header{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    right: 30px;
    min-width: 0;
    z-index: 30;
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
    right: 30px;
}
.header__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    z-index: 30;
}
.swiper-pagination-bullet{
    width: 34px;
    height: 34px;
    background: rgba(190, 190, 190, 0.8);
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #FFFFFF;
}
.swiper-pagination-bullet:hover{
    background-color: #FFFFFF;
}

/* Скрол */
.page__scroll{
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: rgba(133, 133, 133, 0.5);
}
.page__drag-scroll{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    cursor: pointer;
}


/* Первый блок */
.main{
    flex: 1 1 auto;
}
.main__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-white{
    position: relative;
    padding: 50px;
    background-color: #BEBCC1;
    z-index: 2;
    border-radius: 5px;
}
.main-white__text{
    display: flex;
}
.about{
    height: 100vh;
}
.main__title{
    font-weight: 500;
    font-size: 66.8571px;
    color: #606967;
    margin-bottom: 35px;
}
.subtitle{
    font-weight: 500;
    font-size: 60px;
    line-height: 62px;
    color: #fff;
    margin-bottom: 10px;
}
.subtitle-grey{
    color: #4F5958;
    margin-bottom: 50px;
}
.our-mission{
    width: 150px;
    height: 5px;
    background-color: #4F5958;
}
.main__text{
    display: block;
    max-width: 674px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #4F5958;
    margin-left: 40px;
    text-align: justify;
}
.main__logo{
    width: 500px;
    margin-bottom: 50px;
}
.main__logo img{
    width: 100%;
    height: 100%;
}

/* О компании */
.about__container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-grey{
    z-index: 2;
    padding: 50px 200px 80px 200px;
    background-color: #4F5958;
    border-radius: 5px;
    width: 100%;
}
.about-grey__text{
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
}
.about__item{
    position: relative;
    padding: 20px 30px;
    background-color: #BEBCC1;;
    z-index: 0;
}
.about__item:after {
    content: "";
    position: absolute;
    z-index: 5;
    border: 4px solid #BEBCC1;
    width: 100%;
    height: 104%;
    left: 20px;
    top: 20px;
    z-index: -1;
}
.about__list{
    display: flex;
    gap: 80px;
    margin-top: -50px;
    left: 75px;
    bottom: 75px;
    z-index: 2;
}
.item__text{
    position: relative;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #4F5958;
    text-align: justify;
}


/* Наши услуги */
.title-right, .text-right{
    text-align: right;
}
.services__item{
    max-width: 950px;
}
.services__text{
    display: flex;
}
.services__line{
    margin: 5px 30px 0px 0px;
    height: 5px;
    width: 400px;
    background-color: #4F5958;
}
.services__title{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #4F5958;
    margin-bottom: 20px;
}


/* Контакты */
.contact{
    width: 100%;
    height: 100vh;
    background-color: #4F5958;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__container{
    width: 850px;
}
.contact__input{
    background-color: #4F5958;
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: rgba(166, 255, 246, 0.8);
    border: none;
    border-bottom: 3px solid #FFFFFF;
}
.contact__input._error{
    border-bottom: 3px solid #ff7d7d;
}
.input__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}
.contact__title{
    text-align: center;
    margin-bottom: 30px;
}
.input__label{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.input__item{
    margin-bottom: 20px;
}
.contact__textarea{
    height: 130px;
    padding-top: 10px;
    resize: none;
}
.contact__button{
    background: rgba(166, 255, 246, 0.0);
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}
.contact__button:hover{
    text-shadow: 0px 0px 10px #FFFFFF;;
}
.contact__form{
    width: 100%;
}
.form__body{
    position: relative;
}
.form__body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.5) url(../image/loading.gif) center / 80px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}
.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

/* Footer */
.footer__text{
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B3BDBC;
}
.footer__text-paddingno{
    margin-top: 10px;
}
.footer__text span{
    font-weight: bold;
}
.footer__list{
    display: flex;
    justify-content: space-between;
}




/* Адаптивность сайта */
@media (min-width: 1500px) {
    .about-grey{
        padding: 50px 400px 80px 400px;
    }
}
@media (min-width: 1200px) {
}
@media (max-width: 1199px) {
    .about-grey{
        padding: 50px 50px 80px 50px;
    }
}
@media (max-width: 991px) {
    .main__logo {
        width: 300px;
        margin-bottom: 30px;
    }
    .main-white {
        padding: 30px;
        max-width: 750px;
    }
    .about-grey {
        padding: 30px 70px 70px 30px;
    }
    .contact__container {
        width: 700px;
    }
    .main__text {
        margin-left: 10px;
    }
    
}
@media (max-width: 859px) {

    .main__title {
        font-size: 54px;
    }
    .logo {
        max-width: 260px;
    }
    .header{
        display: none;
    }
    .about-grey {
        padding: 30px 30px 70px 30px;
    }
}
@media (max-width: 767px) {
    .about__list {
        gap: 30px;
    }
    .footer__list{
        flex-direction: column;
        gap: 30px;
        margin-left: 30px;
    }
    .footer__text-marginLeft{
        margin-left: 30px;
    }
}
@media (max-width: 560px) {
    .our-mission{
        display: none;
    }
    .language{
        display: none;
    }
    .header__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 30px;
    }
    .main-white, .about-grey, .contact__container {
        max-width: 530px;
    }
    .main-white__text {
        flex-direction: column;
    }
    .footer__text {
        font-size: 18px;
        line-height: 20px;
    }
    .subtitle {
        font-size: 40px;
        line-height: 44px;
    }
    .item__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
    .footer__list{
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .contact__textarea {
        height: 100px;
    }
    .footer__text {
        font-size: 14px;
        line-height: 16px;
    }
    .footer__text {
        margin-top: 20px;
    }
    .footer__list{
        gap: 10px;
    }
    .main__text, .about-grey__text{
        font-size: 18px;
        line-height: 20px;
    }
    .main__text {
        font-size: 18px;
        line-height: 20px;
    }
    .subtitle {
        margin-bottom: 10px;
    }
    .main-white, .about-grey, .contact__container {
        max-width: 450px;
    }
    .main-white{
        padding: 10px;
    }
    .about__item::after {
        display: none;
    }
    .services__title {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 10px;
    }
    .services__line {
       display: none;
    }
    .about__list {
        gap: 20px;
    }
    .about__item {
        padding: 10px;
    }
    .item__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 380px) {

}